<h1>Your Courses</h1>

<table class="table table-striped">
<thead>  
  <tr>
    <th>Classes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <%= render @pins %>
</tbody>
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
