<h1>My Classrooms</h1>

<table class="table table-striped">
<thead>  
  <tr>
    <th>Courses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <%= render @pins %>
</tbody>
</table>

<br />

<%= link_to 'Create a new classroom', new_pin_path %>
