<div class="hero-unit">
	<h1>About hand<font color = "#0066CC">UP</font></h1>
	<p>
		handUP is a web-based application that will fundamentally improve participation dynamics in the modern classroom. 
	</p>
</div>

<body>
	<p> Text text text </p>
	<p> <strong>Classroom Management: </strong>handUP enables unprecedented text text </p>
	<p> <strong>Analytics: </strong>Teachers have the ability to track participation trends and objectively measure the frequency and quality of student contributions. handUP analytics can identify students who should be called on more often or those who need additional attention. </p>
	<p> <strong>Empowerment: </strong>Certain students may find participating through handUP less intimidating than raising their hand a boisterous classroom. Repeated success through the platform encourages quality contributions. </p>
</body>
