<div class="hero-unit">
	<h1>About handUP</h1>
	<p>
		handUP is a web-based application that will fundamentally improve participation dynamics in the modern classroom. 
	</p>
</div>

<body>
	<p> Text text text </p>
	<p> <strong>Classroom Management: </strong>handUP enables unprecedented text text </p>
	<p> <strong>Participation: </strong>handUP enables unprecedented text text </p>
	<p> <strong>Analytics: </strong>handUP enables unprecedented text text </p>
	<p> <strong>Empowerment: </strong>handUP enables unprecedented text text </p>
</body>
