<div class="hero-unit">
	<h1>About hand<font color = "#0066CC">UP</font></h1>
	<p>
		handUP is a web-based application that fundamentally improves participation dynamics in the modern classroom. 
	</p>
</div>

<body>
	<p><strong>What is handUP? </strong>When posed with questions from a teacher, handUP allows students to virtually "raise their hands" by using the app on a mobile device. From a tablet or computer, teachers are able to see a list of all students who would like to answer the question. Alongside these names will be relevant statistics, including how often each student has raised their hand and how often they have been called on to answer. </p>
	<p></p>
	<p> <strong>Analytics: </strong>Teachers have the ability to track participation trends and objectively measure the frequency and quality of student contributions. handUP analytics can identify students who should be called on more often or those who need additional attention. </p>
	<p> <strong>Empowerment: </strong>Certain students may find participating through handUP less intimidating than raising their hand a boisterous classroom. Repeated success through the platform encourages quality contributions. </p>
	<p> <strong>Classroom Management: </strong>handUP enables teachers to take quick surveys in their classrooms, instantly aggregating the results of multiple-choice polls. Teachers have the option to instantaneously grade the quality of a student's discussion contribution. The app can also be used as a seamless solution to track attendance throughout the course. </p>
</body>
