<div class="hero-unit">
	<h1>Contact hand<font color = "#0066CC">UP</font></h1>
	<p>
		Raise your hand. We promise we'll call on you.
	</p>
</div>
		<p>
		To get in touch, please give us a shout at:
		</p><p>
		<%= link_to "hello@TBD.com", "#" %>
		</p><p>
		Follow us on Twitter at:
		</p><p>
		<%= link_to "@handup_app", "http://twitter.com/handup_app" %>
	</p>
