    <div class="hero-unit">
    	<div class="page-header">
		<h1>handUP <small>making class smarter</small></h1>
		<p>
		</p>
		<p>
			handUP gives all students a fair chance to answer questions in the classroom. By using the handUP mobile application, teachers can track key participation metrics and determine which students have something to say.
		</p>

		<p>
			<%= link_to "Sign Up", "#", class: "btn btn-large btn-success" %>
			<%= link_to "Log In", "#", class: "btn btn-large btn-info" %>
		</p>
    </div>
 </div>